
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
  background-color: #e3f2fd;
}

.container {
  margin-top: 20px;
}

.btn-feedback-block {
  margin-top: 15px;
}
